<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    body {
	background: linear-gradient(-46deg, #4b6cb7, #182848, #4b6cb7 );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>

{% extends 'wrapper.html' %}
{% block container %}
  <div data-aos="zoom-in" class="container py-5">
    <div class="row">
      <div class="col-6 col-lg-5 offset-3 offset-lg-4 card">
        <form class="form-signin p-3" method="post">
            {% csrf_token %}
          <div class="text-center mt-5 b-1">

            <h1 class="h3 mb-3 font-weight-normal" data-href-template="/">Джуманджи</h1>
            <p class="h5 font-weight-light">Создайте аккаунт</p>
          </div>
          <div class="mt-5 form-label-group">
            <p class="text-muted">Логин</p>
            <input type="text" name="username" maxlength="150" autofocus required id="id_username" class="form-control">
            <label for="inputLogin"></label>
          </div>

          <div class=" form-label-group">
            <p class="text-muted">Имя</p>
              <input type="text" name="first_name" maxlength="254" id="id_email" class="form-control">
            <label for="inputSurname"></label>
          </div>

            <div class=" form-label-group">
            <p class="text-muted">Фамилия</p>
            <input type="text" name="last_name" maxlength="254" id="id_email" class="form-control">
            <label for="inputSurname"></label>
          </div>

            <div class=" form-label-group">
            <p class="text-muted">Email</p>
            <input type="email" name="email" maxlength="254" id="id_email" class="form-control">
            <label for="inputSurname"></label>
          </div>

          <div class="form-label-group">
            <p class="text-muted"> Пароль</p>
            <input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="form-control">
              <p class="text-muted">Подтвердите пароль</p>
            <input type="password" name="password2" autocomplete="new-password" required id="id_password2" class="form-control">
            <label for="inputPassword"></label>
          </div>

          <div class="checkbox mb-3"></div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Зарегистрироваться</button>
            {{ form.errors }}
        </form>

         <div class="mt-4 text-center" ><p>Уже есть аккаунт? <a href="/login">Войдите!</a></p></div>



      </div>
    </div>
  </div>
{% endblock %}