<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Вакансии</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
{% extends 'wrapper.html' %}
{% block container %}
  <main class="container mt-3">
    <section>
      <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>{{ specialties.title }}</strong></h1>
      <p class="text-center pt-1">Найдено {{ objects.all.count }} вакансий</p>
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
            {% for object in objects %}
                {% if not forloop.counter|divisibleby:"2" %}
                    <div data-aos="fade-right" class="card mb-4">
                {% endif %}
                {% if forloop.counter|divisibleby:"2" %}
                    <div data-aos="fade-left" class="card mb-4">
                {% endif %}
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                  <h2 class="h2 pb-2">{{ object.title }}</h2>
                  <p class="mb-2">{{ object.specialty.title }}</p>
                  <p>От {{ object.salary_min }} до {{ object.salary_max }} руб.</p>
                  <p class="text-muted pt-1">{{ object.published_at }}</p>
                    <p class="mb-2"> Кмпания: {{ object.company.name }}</p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                  <a href="/vacancies/{{ object.id }}/"><img src="{{ object.company.logo.url }}" width="130" height="80" alt=""></a>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}